body{
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: #e4e4e4 !important;
  
}
a {
  text-decoration: none !important;
}

a:hover {
  color: #FFF !important;
}

nav {
  font-family: monospace;
}

ul {
  background: rgb(255, 140, 0);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff !important;
  background: darkorange !important;
  display: block !important;
  float: left !important;
  padding: 1rem !important;
  position: relative !important;
  text-decoration: none !important;
  transition-duration: 0.5s !important;
}

li a {
  color: #fff;
  font: 20px monospace;
}

li:hover {
  background: red !important;
  cursor: pointer !important;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute !important;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.menu{
  display: flex;
  justify-content: center;
}

.content-page{
  padding: 5px 21px;
  margin: 20px 50px;
  background-color: #fff;
  border-radius: 5px;
}
.content-page-cards {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 21px;
  margin: 20px 5px;
  width: 28%;
    
}
.content-page-cards p{
  font-size: 20px;
}

.cards{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.content-cards {
  display: flex;
  justify-content: center;
  width: 100%;
}
