body{
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: #e4e4e4;
  
}
a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: rgb(255, 140, 0);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover {
  background: red;
  cursor: pointer;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.menu{
  display: flex;
  justify-content: center;
}

.content-page{
  padding: 5px 21px;
  margin: 20px 50px;
  background-color: #fff;
  border-radius: 5px;
}
.content-page-cards {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 21px;
  margin: 20px 5px;
  width: 28%;
    
}
.content-page-cards p{
  font-size: 20px;
}

.cards{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.content-cards {
  display: flex;
  justify-content: center;
  width: 100%;
}
